<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predictdata" method="post">
        <h1>Student exam performance indicator</h1>
        <h1>student exam performance prediction</h1>
        
        <label for="Gender">Gender</label><br>
        <select name="Select_Gender" id="Gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select><br>

        <label for="RE">Race or Ethnicity</label><br>
        <select name="Race_or_Ethnicity" id="RE">
            <option value="group A">group A</option>
            <option value="group B">group B</option>
            <option value="group C">group C</option>
            <option value="group D">group D</option>
            <option value="group E">group E</option>
        </select><br>

        <label for="PLE">Parental Level of Education</label><br>
        <select name="Parental_Level_of_Education" id="PLE">
            <option value="associate's degree">associate's degree</option>
            <option value="bachelor's degree">bachelor's degree</option>
            <option value="high school">high school</option>
            <option value="master's degree">master's degree</option>
            <option value="some college">some college</option>
            <option value="some high school">some high school</option>
        </select><br>

        <label for="Lunch">Lunch Type</label><br>
        <select name="Lunch_Type" id="Lunch">
            <option value="free/reduced">free/reduced</option>
            <option value="standard">standard</option>
        </select><br>

        <label for="TPC">Test preparation Course</label><br>
        <select name="Test_preparation_Course" id="TPC">
            <option value="none">none</option>
            <option value="completed">completed</option>
        </select><br>

        <label for="writing">Writing Score out of 100</label><br>
        <input type="number" name="writing_name" id="writing"><br>

        <label for="reading">Reading Score out of 100</label><br>
        <input type="number" name="reading_name" id="reading"><br>

        <button type="submit">Predict your maths score</button>
    </form>
    <h1>THE prediction is {{results}}</h1>
</body>
</html>